<body>
    <div class="container-suwit">
        <div class="rock_papper_scissors">
            <img src="/img/suwit/logo 1.png" class="img-logo" alt="">
            <h1 class="paragraf1">ROCK PAPER SCISSORS</h1>
        </div>
       
        <!-- DOM MANIPULATION -->
        <div class="selection"></div>
        <div class="selection"></div>
        <div class="selection"></div>
        
        <!-- DOM MANIPULATION -->
        <div class="selection2"></div>
        <div class="selection2"></div>
        <div class="selection2"></div>


        <div class="container text-center mt-3">
            <h1 id="player">player 1</h1>
            <div  class="player_batu">
            <img src="/img/suwit/batu 1.png"   alt="batu" >
            </div>
            <div class="player_kertas">
            <img src="/img/suwit/kertas 1.png"  alt="kertas" >
            </div>
            <div class="player_gunting">
            <img src="/img/suwit/gunting 1.png" alt="gunting" >
            </div>

            <h1 id="com">com</h1>
            <div class="com_batu">
            <img src="/img/suwit/batu 1.png"  alt="batu" >
            </div>
            <div class="com_kertas">
            <img src="/img/suwit/kertas 1.png"  alt="kertas" >
            </div>
            <div class="com_gunting">
            <img src="/img/suwit/gunting 1.png" alt="gunting" >
            </div>
        </div>
    </div>

        <!-- info -->
        <!-- <p class="seri">DRAW</p> -->
        <div class="result">
            <p class="informasi">VS</p>
        </div>

        <!-- button refresh -->
        <button id="btn-refresh">
            <img src="/img/suwit/refresh 2.png" alt="refresh" width="100%">
        </button>
    </div>
</body>